.container {
  margin-top: 3rem;
}

.projects {
  margin-top: 1rem;
}

.more {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
}

.projectGroupBtns {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

.projectGroupBtns button {
  font-family: inherit;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.15s ease;
}

.projectGroupBtns button:hover {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

.projectGroupBtns button.active {
  border-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 1);
}
